.burgerMenuIcon {
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 80px;
    margin: 10px;
    background-color: #282c34;
}

.header a {
    width: 200px;
    text-decoration: none;
    margin: 10px;
    color: whitesmoke;
}

.header a:hover {
    color: pink;
    font-weight: bold;
}

