.test {
    margin-bottom: 50px;

}

.elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin-bottom: 50px;
}